{% extends 'quote/base.html' %}
{% load crispy_forms_tags %}

{% block head_title %}
MTAXI | Quote
{% endblock head_title %}

{% block content %}
<h1>Create Quote Page</h1>

    <form class="form media-body small pb-3 lh-125" method="POST">
        {% csrf_token %}
        <div class="row">
             <div class="col-sm-6 ">
                {{ form|crispy }}
            </div>
        </div>



{#        <button class="btn btn-primary" type="submit" onclick="return confirm('Are you sure?')">Submit</button>#}
        <button class="btn btn-primary" type="submit">Submit</button>
    </form>
{% endblock content %}