{% extends 'quote/base.html' %}
{% load staticfiles %}

{% block head_title %}
MTAXI | Home
{% endblock head_title %}

{% block first-cell %}
    <div class="container text-center" style="padding: 2em">
        <h1><strong>MTAXI LTD.</strong></h1>
        <p style="color:#C77801">...a taxi appearing just when you need it!</p>
        <br>
        <h4>07427 621683</h4>
        <h4>mtaxiltd.plymouth@outlook.com</h4>
    </div>
{% endblock first-cell %}

{% block merged-cell %}
    <div>
        <div class="text-center">
            <h3>Professional Plymouth taxi service</h3>
            <h2>8 seater / wheelchair</h2>
            <br><br><br><br>
        </div>
        <table align="center" width="75%" cellspacing="10">
            <tr>
                <td>Exeter Airport</td>
                <td align="right">From</td>
                <td align="right">£60</td>
            </tr>
            <tr>
                <td>Newquay Airport</td>
                <td align="right">From</td>
                <td align="right">£70</td>
            </tr>
            <tr>
                <td>Bristol Airport</td>
                <td align="right">From</td>
                <td align="right">£140</td>
            </tr><tr>
                <td>Heathrow Airport</td>
                <td align="right">From</td>
                <td align="right">£260</td>
            </tr>
            <tr>
                <td>Gatwick Airport</td>
                <td align="right">From</td>
                <td align="right">£280</td>
            </tr>
        </table>
        <br>
        <p class="text-center">We also provide travel to any UK destination</p>
        <a class="nav-link text-center" href="{% url 'create' %}">Ask for a quote</a>
        <br><br><br><br><br>
        <p align="center">
            Card payments accepted
            <img width="30%" src="{% static "images/card_pay.jpg" %}" alt="taxi.jpg">
        </p>
    </div>

{% endblock merged-cell%}