{% extends 'quote/base.html' %}
{% load static %}

{% block head_title %}
MTAXI | Home
{% endblock head_title %}

{% block main %}
    <div class="text-center">
        <h3>Professional<br>Plymouth Taxi Service</h3>
        <h3>Airport / Seaport Transfer</h3>
        <h3>8 seater / wheelchair</h3>
    </div>
{% endblock %}

{% block aside %}
    <table>
        <tr>
            <td align="left">Exeter Airport</td>
            <td align="right">From</td>
            <td align="right">£60</td>
        </tr>
        <tr>
            <td align="left">Newquay Airport</td>
            <td align="right">From</td>
            <td align="right">£70</td>
        </tr>
        <tr>
            <td align="left">Bristol Airport</td>
            <td align="right">From</td>
            <td align="right">£140</td>
        </tr><tr>
            <td align="left">Heathrow Airport</td>
            <td align="right">From</td>
            <td align="right">£260</td>
        </tr>
        <tr>
            <td align="left">Gatwick Airport</td>
            <td align="right">From</td>
            <td align="right">£280</td>
        </tr>
    </table>
    <p class="text-center">We also provide travel to any UK destination</p>
    <div class="text-center">
        <a class="btn btn-warning" href="{% url 'create' %}">Ask for a quote</a>
    </div>
{% endblock %}
