{% extends 'quote/base.html' %}
{% load staticfiles %}

{% block head_title %}
MTAXI | Thank You
{% endblock head_title %}

{% block head %}
    <link rel="stylesheet" href="{% static 'css/thankyou.css' %}">
{% endblock %}

{% block main %}
    <h2>Thank You</h2>
    <p style="color:#C77801">for your quote!</p>
    <br>
    <p>Your quote has been successfully received.</p>
    <p>Please do not hesitate to give us a call if you need a fast response.</p>
    <br>
    <a class="nav-link" href="{% url 'home' %}">Home</a>
{% endblock main %}