{% extends 'quote/base.html' %}

{% block head_title %}
MTAXI | Quote
{% endblock head_title %}

{% block content %}
    <h1>Verify Quote Page</h1>
    {% for obj in object_list %}
        <div class="media pt-3">
            <div class="media-body pb-3 small lh-125 border-bottom border-gray">
                {{ obj.pk }}<br>
                {{ obj.id }}<br>
                {{ obj.name }}<br>
                {{ obj.email }}<br>
            </div>
        </div>
    {% endfor %}
{% endblock content %}
