body {
    color: #fcc500;
    background-color: #010101;
}

a {
    color: #EB0002;
}

a:hover {
    color: #F1CFA0;
}

.title {
    color: #fcc500;
}

.title:hover {
    color: #fcc500;
}

.btn-warning {
    color: #010101;
    background: #fcc500;
    border-color: #fcc500;
}

.btn-warning:hover {
    color: #010101;
    background: #C77801;
    border-color: #C77801;
}

.btn-warning:active {
    color: #010101;
    background: #F9DEAD;
    border-color: #F9DEAD;
}
