.main {
    justify-self: center;
    width: 90%;
    margin-bottom: 0;
}

.footer {
    margin-top: 1rem;
}

@media screen and (min-width: 800px) {
    .container-grid {
        grid-template-areas:
            "title main"
            "title-img main"
            "footer footer";
    }
}
